<section class="landing-page">
  <section class="landing-page-box">
    <h1 class='title'>Affinity</h1>
    <p><%= link_to "Sign up", new_user_registration_path, class: 'button is-primary is-rounded' %></p>
    <p>or</p>
    <p><%= link_to "Sign in", new_user_session_path, class: 'button is-primary is-rounded' %></p>
  </section>
</section>
